

:root{
    --cor-de-fundo: #EDEDED;
    --cor-de-link: #000;
 }
 
 body {
     box-sizing: border-box;
     background-color: var(--cor-de-fundo) ;
     font-family: 'Raleway';
     margin: 0;
     padding: 0;
     line-height: 1;
 }
 ol, ul,li {
     list-style: none;
     display:inline-block;
     margin-top: 0%;
     position: relative;
     align-items: center;
     margin-right: 0px;
 }
 a{
     text-decoration: none;
     color: var(--cor-de-link);
 }
 
 
 /*SecciÃ³n Menu*/
 .tudo {
     position: absolute;
 }
 
 .menu {
     position: relative;
     top: 0;
     left: 0;
     margin-top: 10px;
     margin-left: 10px;
 }
 
 .menu__header {
     display: flex;
     align-items: center;
 }
 
 .menu__title {
     margin-left: 10px; 
 }
 
 
 /*SecciÃ³n Title*/
 
 .title__div {
     display: flex;
     margin-bottom: 200; 
     margin-right: 500px;
     width: 100%;
   
   .title__profile {
     width: 300px; 
     margin-left: 900px; 
     position: absolute;
     top: 100px;
 
 }
 
 .title__container {
     display: flex;
     flex-direction: column;
     margin-left: 100px;
     margin-top: 100px;
     align-content: center;
     
 
 
 }
 
 
 .title__bio{
     position: relative;
     margin-right: 700px;
     margin-bottom: 30px;
     font-size: 45px;
     font-weight: bold;
 
 }
 
 
 .title__subsection {
     position: relative;
     margin-right: 700px;
     margin-bottom: 30px;
 
 
 }
 
 .title__network{
     margin-bottom: 100px;
     margin-right: 10px;
     margin-left: -160px;
     width: 100%;
     display: flex;
 
 }
 
 
 }
 
 /*SecciÃ³n About*/
 .about__container{
     width: auto; /* Ancho del contenedor */
     height: 200px; /* Alto del contenedor */
     background-color: #EAF2FD; /* Color de fondo */
     display: block;
     flex-direction: column;
     padding: 20px;
 }
 
 .about__title{
     margin-left: 80px;
 }
 
 .about__paragraph{
     margin-left: 80px;
     margin-right: 650px;
 }
 
 .firma{
     display: flex;
     margin-left: 80px;
 }
 
 
 
 
 /*SecciÃ³n Hobbies*/
 
 .skills__title{
     text-align: center;
     font-size: 40px;
     font-weight: bold;
 }
 
 .skills__line{
     display: flex;
 }
 
         .skills__box{
           width: 150px; /* Ancho del cuadrado */
           height: 150px; /* Alto del cuadrado */
           background-color: white; /* Color de fondo del cuadrado */
           margin: 40px;
           position: relative;
     }
     .skills__box ul {
         padding: 10px;
         margin-inline: 0px;
         display: inline-block;
         width: auto;
         position: absolute;
         bottom: 0;
         margin-bottom: 0;
     }
 
         
     .skills__img, .skills__name{
         flex-direction: column;
         position: relative;
         align-self: auto;
         display: block;
         /* padding-bottom: 5px; */
     }
 
 li.skills__img {}
 
 
 /* Experiencia AcadÃ©mica*/
 
 section.academic{
 
 }
 
 /* experiencia*/
 
 section.experience{
 
 }
 
 /*Contacto*/
 
 section.formcontato{
 
 }
 
 /*footeer*/
 
 section.footer{
    
 }
 
 /* Vamos a desafiarnos trabajando con responsividad?
 Utiliza las referencias de los breakpoints @media abajo */
 
 
 /*Tablet*/
 @media (min-width: 768px) {
 
 /* MenÃº */
 
 /*title*/
 
 /*Skills*/
 
 /*Hobbies*/
 
 /*FormaciÃ³n AcadÃ©mica*/
 
 /*Experiencia Profesional*/
 
 }
 
 /*Mobile*/
 @media (min-width: 425px) {
 
 /*Menu*/
 
 /*Titulo*/
 
 /*SecciÃ³n sobre mi*/
 
 /*Skills*/
 
 /*Hobbies*/
  
 /*FormaciÃ³n AcadÃ©mica*/
 
 /*Experiencia Profesional*/
 
  /*Contacto*/
 
 /*Footer*/
 
 }